<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="brand">
        <a href="/" class="poppins-bold">RestoHunt</a>
      </div>
      <div class="menu">
        <a href=""><i class="fa-regular fa-house"></i> Home</a>
        <a href="#"><i class="fa-regular fa-heart"></i> Favorite</a>
        <a href="https://aliefadam-portfolio.netlify.app/" target="_blank"
          ><i class="fa-regular fa-user"></i> About Us
        </a>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero Section -->
    <header>
      <img src="./images/heros/hero-image_2.jpg" alt="" id="hero-section" />
      <div class="hero-content">
        <h1>Selamat Datang di RestoHunt</h1>
        <p>
          Temukan restoran terbaik di sekitarmu dengan mudah dan cepat!. Nikmati
          pengalaman kuliner terbaik bersama kami.
        </p>
      </div>
    </header>
    <!-- End Hero Section -->

    <!-- Content -->
    <main>
      <h2 class="poppins-semibold" tabindex="1">Jelajahi Restoran Kami</h2>
      <!-- Data Ditampilkan Dari Javascript -->
      <div id="menu-container"></div>
    </main>
    <!-- End Content -->

    <!-- Footer -->
    <footer>
      <span>Copyright &copy; 2024 - RestoHunt</span>
    </footer>
    <!-- End Footer -->

    <!-- Overlay Detail Retauran -->
    <div id="overlay-detail-restaurant">
      <div class="detail-restaurant">
        <div class="detail-restaurant-header">
          <h3 class="poppins-medium">Detail Restoran</h3>
          <button>
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <div class="detail-restaurant-body">
          <div class="container-image">
            <img
              src="https://restaurant-api.dicoding.dev/images/medium/07"
              alt=""
            />

            <p>Rating 5.0 <i class="fa-solid fa-star"></i></p>
          </div>
          <div class="container-desc">
            <h2>Restauran Lost - Surabaya</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
              commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla
              vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
              imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
              mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
              semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
              porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
              ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
              viverra nulla ut metus varius laoreet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
