<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="brand">
        <a href="/" class="poppins-bold">Restoran Pinggiran</a>
      </div>
      <div class="menu">
        <a href="">Home</a>
        <a href="#">Favorite</a>
        <a href="https://aliefadam-portfolio.netlify.app/" target="_blank"
          >About Us
        </a>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Hero Section -->
    <header>
      <img src="./images/heros/hero-image_2.jpg" alt="" id="hero-section" />
      <div class="hero-content">
        <h1>Restoran Pinggiran</h1>
        <p>
          Temukan Cita Rasa Lokal yang Menggugah Selera di Restoran Pinggiran
        </p>
      </div>
    </header>
    <!-- End Hero Section -->

    <!-- Content -->
    <main>
      <h2 class="poppins-semibold" tabindex="1">
        Jelajahi Menu di Restoran Kami
      </h2>
      <div id="menu-container">
        <div class="menu-item">
          <div class="menu-image">
            <img src="./images/heros/hero-image_3.jpg" alt="" />
            <div class="label-city poppins-medium">Surabaya</div>
          </div>
          <div class="menu-detail">
            <p>Rating 4.5</p>
            <h3>Makanan Asik</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
              inventore.
            </p>
          </div>
        </div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
      </div>
    </main>
    <!-- End Content -->
  </body>
</html>
