@import url("poppins.css");

:root {
  --primary: #1e201e;
  --secondary: #3c3d37;
  --tertiary: #697565;
  --quarternary: #ecdfcc;
}

* {
  font-family: "Poppins", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1;
}

body {
  background-color: var(--quarternary);
}

/* Navbar */
nav {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  z-index: 20;
}

nav .brand a,
nav .menu a {
  color: var(--quarternary);
}

nav .brand a {
  font-size: 23px;
}

nav .menu {
  display: flex;
  gap: 20px;
}

nav .menu a {
  font-weight: 500;
  transition: 200ms;
}

nav .menu a:hover {
  transform: translateY(-1px);
}
/* End Navbar */

/* Hero Section */
header {
  margin-top: 70px;
  min-width: 1000px;
  width: 100%;
  position: relative;
}

header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

header .hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

header .hero-content h1 {
  color: var(--quarternary);
  font-size: 50px;
  text-shadow: 1px 1px 1px var(--primary);
}

header .hero-content p {
  color: var(--quarternary);
  font-size: 20px;
  text-shadow: 1px 1px 1px var(--primary);
}
/* End Hero Section */

/* Content */
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  text-align: center;
  color: var(--primary);
}

main #menu-container {
  width: 80%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

main #menu-container .menu-item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

main #menu-container .menu-item .menu-image {
  position: relative;
  height: 250px;
}

main #menu-container .menu-item .menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main #menu-container .menu-item .menu-image .label-city {
  background-color: var(--quarternary);
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 14px;
  color: var(--primary);
}

main #menu-container .menu-detail {
  padding: 20px;
  background-color: white;
}

main #menu-container .menu-detail h3 {
  margin-top: 10px;
}

main #menu-container .menu-detail p {
  margin-top: 5px;
  line-height: 20px;
}
/* End Content */
